{% extends "layout.html" %} {% block title %} Index {% endblock %} {% block
main%}
<h1 class="text-center fw-bold">Light/ Dark Mode</h1>
<br />
<p>
  Lorem ipsum dolor sit amet. Et consequatur quodEos vero quo autem pariatur aut
  deserunt facilis 33 tenetur adipisci est rerum suscipit aut sint dolor. Et
  dolorum voluptasEt dolor ut repellat veniam hic autem excepturi aut
  perspiciatis fuga sed numquam itaque. Est nulla dolores
  <strong
    >Sed dolor ea neque explicabo ut unde assumenda et repudiandae eius</strong
  >. Ab expedita magnam eos magnam temporaHic quos eos velit laboriosam eum
  similique maxime ut dolore illum et velit quasi. Et ratione quia
  <em>Sed tempora et odit quas rem debitis alias</em> aut error nobis rem culpa
  ullam. Eos minus odio et officia voluptatemnam placeat vel exercitationem
  quidem. Id nihil ipsam
  <a href="https://www.loremipzum.com" target="_blank"
    >Et tempore quo illo obcaecati ex incidunt exercitationem</a
  >
  hic assumenda facilis? 33 commodi nisiSit dolorum et quia voluptatem sed
  commodi voluptas id cumque architecto. Qui quaerat enim cum mollitia quisSed
  maxime et corporis fuga eum vitae error ut dolores quibusdam quo iste sequi!
</p>
{% endblock %}
